/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0; padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a,a:hover,a:focus,button,button:hover,button:focus{outline:none;text-decoration: none;}
input,select{outline:none;}
header,footer,article,section,nav,figure,aside{display:block;}
button{cursor: pointer;}

/*general*/
body, html {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #777;
    position: relative;
}

a, button {
    -webkit-transition: .3s all 0s;
    -moz-transition: .3s all 0s;
    -ms-transition: .3s all 0s;
    -o-transition: .3s all 0s;
    transition: .3s all 0s;
}

.inner {
    max-width: 1024px;
    position: relative;
    padding: 0 10px;
    margin: 0 auto;
}

.inner:after {
    content: '';
    display: block;
    clear: both;
}

.btn {
    display: inline-block;
    color: #fff;
    border: 0;
    padding: 7px 10px;
}

button.btn {
    padding: 9px 10px;
}

.btn.blue {
    background-color: #0071b5;
}

.btn.blue:hover {
    background-color: #004a77;
}

/*search*/
.search-top {
    min-height: 54px;
    text-align: center;
    border-bottom: 1px solid #777;
}

.search-top .logo {
    display: inline-block;
    font-weight: bold;
    color: #000;
    margin-top: 18px;
}

.search-top .btn {
    position: absolute;
    right: 10px;
    top: 11px;
}

.search p {
    padding: 15px 0;
}

.search input[type=text] {
    width: 100%;
    height: 30px;
    border: 1px solid #777;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 8px;
    margin-bottom: 15px;
}

.search-results-content {
    margin-top: 15px;
}

.search-results-content h3 {
    margin-bottom: 10px;
}

.search-results-content ul li {
    margin-bottom: 5px;
}

.search-results-content ul li a {
    color: #0071b5;
}

.search-error {
    color: #ff4444;
    margin-top: 15px;
}